%p#notice= notice
%h1 Milestones
%table
  %thead
    %tr
      %th Title
      %th Due date
      %th{:colspan => "3"}
  %tbody
    - @milestones.each do |milestone|
      %tr
        %td= milestone.title
        %td= milestone.due_date
        %td= link_to 'Show', milestone
        %td= link_to 'Edit', edit_milestone_path(milestone)
        %td= link_to 'Destroy', milestone, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Milestone', new_milestone_path
