<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Milestone</th>
      <th>Assignee</th>
      <th>Title</th>
      <th>Link</th>
      <th>Gitlabid</th>
      <th>Project</th>
      <th>State</th>
      <th>Labels</th>
      <th>Due date</th>
      <th>Position</th>
      <th>Comments</th>
      <th>Column</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.milestone %></td>
        <td><%= task.assignee %></td>
        <td><%= task.title %></td>
        <td><%= task.link %></td>
        <td><%= task.gitlabid %></td>
        <td><%= task.project %></td>
        <td><%= task.state %></td>
        <td><%= task.labels %></td>
        <td><%= task.due_date %></td>
        <td><%= task.position %></td>
        <td><%= task.comments %></td>
        <td><%= task.column %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
