.container
  - if @user.is_admin
    .row
      .card-panel.grey.lighten-5
        .row
          .col.s5
            .row.valign-wrapper
              .col.s2.black-text
                %i.fa.fa-3x.fa-cogs
              .col.s10
                %span.black-text
                  %h4 Global Settings
          .col.s7
            .row.black-text
              = render partial: 'filter'
  .row
    = form_for(@user) do |f|
      .card-panel.grey.lighten-5
        .row
          .col.s6
            .row.valign-wrapper
              .col.s2
                %img.circle.responsive-img{src: @user.avatar_url}
              .col.s10
                %span.black-text
                  %h4= @user.name
          .col.s6.black-text
            .row
              %h5 Basic
              %hr
            .row
              .input-field.col-s12
                %i.fa.fa-key.prefix
                = f.text_field :token, class: 'validate'
                = f.label(:token, 'Token')
            .row
              %h5 Advanced
              %hr
              .input-field.col-s12
                = f.check_box :show_scroll_hint
                = f.label(:show_scroll_hint)
              .input-field.col-s12
                = f.check_box :is_admin, disabled: true
                = f.label(:is_admin)
            .row
              = f.submit 'Submit', class: 'btn yellow darken-4 pull-right'
  .row
    .card-panel.grey.lighten-5.black-text
      .row
        %h5 About Gitban
        %hr
        %ul.collection
          %li.collection-item
            Version
            .secondary-content=Rails.configuration.version
          %li.collection-item
            Environment
            .secondary-content= Rails.env
