.card.hoverable.light-blue.accent-2.modal-trigger{id: task.id, href: "#modal#{task.id}"}
  .card-content
    %span.card-title.truncate
      %span.new.badge.red{'data-badge-caption': ''}
        %b= task.state[0].capitalize
      = task.title
  .card-action
    - if task.assignee
      %p.truncate
        %i.fa.fa-user.fa-fw
        = task.assignee.name
    - if task.labels.to_a.any?
      %p.truncate
        %i.fa.fa-tags.fa-fw
        = task.labels.to_a.inspect
    - if task.project
      %p.truncate
        %i.fa.fa-code-fork.fa-fw
        = task.project.name
- if animate.to_i == task.id
  :javascript
    $("##{task.id}").animateCss('tada');
