.modal.black-text{id: "modal#{task.id}"}
  .modal-content
    %h3
      %a{href: task.link}
        %i.fa.fa-gitlab
      = task.title

      - task.labels.each do |label|
        .chip.right.green= label
    .row
      .col.s3
        %h5
          %i.fa.fa-fw.fa-pencil.fw
          Task
        .divider
        %ul
          %li State: #{task.state}
          %li Due date: #{task.due_date}
          %li Position: #{task.position}
          %li Column: #{task.column_id}
      .col.s3
        %h5
          %i.fa.fa-fw.fa-code-fork.fw
          Project
        .divider
        - if task.project
          %ul
            %li Name: #{task.project.name}
            %li Organisation: #{task.project.namespace}
            %li
              Link:
              %a{href: task.project.link}= task.project.link
      .col.s3
        %h5
          %i.fa.fa-fw.fa-user.fw
          Assignee
        .divider
        - if task.assignee
          %ul
            %li Name: #{task.assignee.name}
            %li LDAP: #{task.assignee.username}
            %li Image: #{task.assignee.image_path}
      .col.s3
        %h5
          %i.fa.fa-fw.fa-calendar.fw
          Milestone
        .divider
        - if task.milestone
          %ul
            %li Name: #{task.milestone.title}
            %li Date: #{task.milestone.due_date}
