.card.hoverable.modal-trigger{id: task.id, href: "#modal#{task.id}"}
  .card-content
    %span.card-title.truncate.amber.lighten-3
      = task.title
  .card-action
    %span.new.badge.z-depth-1{'data-badge-caption': '', class: task.state == 'opened' ? 'red' : 'blue'}
      %b= task.state
    - if task.assignee
      %p.truncate
        %i.fa.fa-user.fa-fw
        = task.assignee.name
    - if task.labels.to_a.any?
      %div.truncate
        %i.fa.fa-tags.fa-fw
        - task.labels.each do |l|
          %div.task_label.blue.accent-2.white-text= l
    - if task.project
      %p.truncate
        %i.fa.fa-code-fork.fa-fw
        = task.project.name
- if animate.to_i == task.id
  :javascript
    $("##{task.id}").animateCss('tada');
