.modal{id: "modal#{task.id}"}
  .modal-content
    %h3= task.title
    .row
      .col.s3
        %h5
          %i.fa.fa-pencil.fw
          Task
        .divider
        %ul
          %li Title: #{task.title}
          %li Labels: #{task.labels.inspect}
          %li State: #{task.state}
          %li Due date: #{task.due_date}
          %li Position: #{task.position}
          %li Column: #{task.column_id}
          %li Gitlab ID: #{task.gitlab_id}
          %li Gitlab IID: #{task.gitlab_internal_id}
          %li
            Link:
            %a{href: task.link}= task.link
      .col.s3
        %h5
          %i.fa.fa-code-fork.fw
          Project
        .divider
        - if task.project
          %ul
            %li Name: #{task.project.name}
            %li Organisation: #{task.project.namespace}
            %li
              Link:
              %a{href: task.project.link}= task.project.link
      .col.s3
        %h5
          %i.fa.fa-user.fw
          Assignee
        .divider
        - if task.assignee
          %ul
            %li Name: #{task.assignee.name}
            %li LDAP: #{task.assignee.username}
            %li Image: #{task.assignee.image_path}
      .col.s3
        %h5
          %i.fa.fa-calendar.fw
          Milestone
        .divider
        - if task.milestone
          %ul
            %li Name: #{task.milestone.title}
            %li Date: #{task.milestone.due_date}
