.card.hoverable.blue-grey.darken-1{id: task.id}
  .card-content.white-text
    %span.card-title
      .chip.blue.right=task.state
      .small.truncate= task.title
  .card-action
    .row
      - if task.assignee
        .chip.right
          %img{src: task.assignee.image_path}
          = task.assignee.name
      - task.labels.to_a.each do |label|
        .chip.teal= label
    .row
      - if task.milestone
        .chip.red
          = task.milestone.title
          = "(#{task.milestone.due_date})"
