.card.hoverable.blue.lighten-2{id: task.id}
  .card-content
    - if task.milestone
      %span.card-title.truncate.tooltipped{data: { position: :top,
          delay: 50,
          tooltip: "#{task.milestone.title} (#{task.milestone.due_date})"}}
        = task.title
    - else
      %span.card-title.truncate
        = task.title
  .card-action
    - if task.assignee
      %p.truncate
        %i.fa.fa-user.fa-fw
        = task.assignee.name
    - if task.labels.to_a.any?
      %p.truncate
        %i.fa.fa-tags.fa-fw
        = task.labels.to_a.inspect
    - if task.project
      %p.truncate
        %i.fa.fa-code-fork.fa-fw
        = task.project.name
