= form_for(column) do |f|
  - if column.errors.any?
    #error_explanation
      %h2
        = pluralize(column.errors.count, "error")
        prohibited this column from being saved:
      %ul
        - column.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :min
    = f.number_field :min
  .field
    = f.label :max
    = f.number_field :max
  .field
    = f.label :board_id
    = f.text_field :board_id
  .actions
    = f.submit
