<p id="notice"><%= notice %></p>

<h1>Columns</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Min</th>
      <th>Max</th>
      <th>Board</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @columns.each do |column| %>
      <tr>
        <td><%= column.name %></td>
        <td><%= column.min %></td>
        <td><%= column.max %></td>
        <td><%= column.board %></td>
        <td><%= link_to 'Show', column %></td>
        <td><%= link_to 'Edit', edit_column_path(column) %></td>
        <td><%= link_to 'Destroy', column, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Column', new_column_path %>
