.container
  .row
    = form_tag('/settings', method: :put) do
      .card-panel.grey.lighten-5
        .row
          .col.s6
            .row.valign-wrapper
              .col.s2
                %img.circle.responsive-img{src: @user.avatar_url}
              .col.s10
                %span.black-text
                  %h4= @user.name
          .col.s6
            .row
              .input-field.col-s12.black-text
                %i.fa.fa-key.prefix
                = text_field_tag :token, @user.token, class: 'validate'
                = label_tag(:token, 'Token')
            .row
              = submit_tag 'Submit', class: 'btn yellow darken-4 pull-right'
