- @board = board
- @colclass = "col s#{12 / @board.columns.size}" rescue nil
- @board.columns.each do |column|
  - column.tasks.each do |task|
    = render partial: 'shared/task_modal', locals: { task: task }

.container-fluid
.row
  - @board.columns.each do |column|
    %div{class: @colclass}
      .card
        .card-content
          .card-title
            = column.name
            .right
              %b Min
              = column.min || 0
              %b Max
              = column.max || 0

            %hr
          .drag{id: "col-#{column.id}"}
            - column.tasks.order('position').each do |task|
              = render partial: 'shared/task_card', locals: { task: task}

:javascript
  $('.modal-trigger').leanModal();
  var drake = dragula($('[id*=col]').toArray());
  drake.on('drop', function(el, target, source, sibling){

    // Update Task position
    var task_id = el.id;
    var task_position = $(el).index();
    var column_id = target.id.substring(4);

    var pos = {};
    pos[target.id] = [];
    pos[source.id] = [];
    $(target).children().map(function(){
      pos[target.id].push($(this).attr('id'));
    });
    if (source.id != target.id) {
      $(source).children().map(function(){
        pos[source.id].push($(this).attr('id'));
      });
    }

    console.log(pos);

    $.ajax({
        url: "/tasks/" + task_id,
        type: "PATCH",
        data: {task: {
                 position: task_position,
                 column_id: column_id},
               authenticity_token: '#{form_authenticity_token}',
               positions: pos},
        success: function(resp){
          console.log(resp);
        }
    });
    if(column_id == 0) {
      $(el).remove();
    }
    App.boards.moved(#{@board.id}, task_id);
  });
