- @board = board
.board_flex
  - @board.columns.each do |column|
    %div.board_column
      .card.light-blue.darken-2
        .card-content{style: 'padding-bottom: 10px;'}
          .card-title.white-text
            = column.name
            - if column.max
              .right
                %b{class: column.tasks.count >= column.max ? 'red-text' : ''}
                  = column.tasks.count
                of
                %b= column.max
            - else
              .right
                %b= column.tasks.count


            %hr
          %ul.drag{id: "col-#{column.id}"}
            - column.tasks.order('position').each do |task|
              %li
                = render partial: 'shared/task_card', locals: { task: task, animate: task_id}

:javascript
  $('.modal-trigger').leanModal();

  $('[id*=col]').sortable({
    connectWith: '.drag',
    stop: function(ev, ui){
      var el = ui.item[0].children[0];
      var source = ev.target;
      var target = $(el).parents().eq(1)[0]

      // Update Task position
      var task_id = el.id;
      var task_position = $(el).index();
      var column_id = target.id.substring(4);

      var pos = {};
      pos[target.id] = [];
      pos[source.id] = [];

      $(target).children().map(function(){
        var id = $(this).children()[0].id;
        pos[target.id].push(id);
      });
      if (source.id != target.id) {
        $(source).children().map(function(){
          var id = $(this).children()[0].id;
          pos[source.id].push(id);
        });
      }

      $.ajax({
          url: "/tasks/" + task_id,
          type: "PATCH",
          data: {task: {
                   position: task_position,
                   column_id: column_id},
                 authenticity_token: '#{form_authenticity_token}',
                 positions: pos},
          success: function(resp){
            App.boards.moved(#{@board.id}, task_id);
          },
          error: function(resp){
            console.log(resp);
            App.boards.refresh(#{@board.id});
          }
      });
      if(column_id == -1) {
        $(el).remove();
      }
    }
  });
