- @board = board
- @colclass = "col s#{12 / @board.columns.size}" rescue nil
.container-fluid
.row
  - @board.columns.each do |column|
    %div{class: @colclass}
      .card
        .card-content
          .card-title
            = column.name
            - if column.max
              .right
                Curr
                %b{class: column.tasks.count >= column.max ? 'red-text' : ''}
                  = column.tasks.count
                Min
                %b= column.min.to_i
                Max
                %b= column.max

            %hr
          .drag{id: "col-#{column.id}"}
            - column.tasks.order('position').each do |task|
              = render partial: 'shared/task_card', locals: { task: task, animate: task_id}

:javascript
  $('.modal-trigger').leanModal();
  var drake = dragula($('[id*=col]').toArray());
  drake.on('drop', function(el, target, source, sibling){

    // Update Task position
    var task_id = el.id;
    var task_position = $(el).index();
    var column_id = target.id.substring(4);

    var pos = {};
    pos[target.id] = [];
    pos[source.id] = [];
    $(target).children().map(function(){
      pos[target.id].push($(this).attr('id'));
    });
    if (source.id != target.id) {
      $(source).children().map(function(){
        pos[source.id].push($(this).attr('id'));
      });
    }

    $.ajax({
        url: "/tasks/" + task_id,
        type: "PATCH",
        data: {task: {
                 position: task_position,
                 column_id: column_id},
               authenticity_token: '#{form_authenticity_token}',
               positions: pos},
        success: function(resp){
          App.boards.moved(#{@board.id}, task_id);
        }
    });
    if(column_id == 0) {
      $(el).remove();
    }
  });
