%p#notice= notice
.container
  %h1 Boards
  %table.white-text
    %thead
      %tr
        %th Name
        %th
    %tbody
      - @boards.each do |board|
        %tr
          %td= board.name
          %td.right-align
            = link_to 'Show', board, class: 'btn green'
            = link_to 'Edit', edit_board_path(board), class: 'btn yellow darken-4'
            = link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn red'
  %br/
  = link_to 'New Board', new_board_path, class: 'btn green'
