%p#notice= notice
.container
  %h1 Assignees
  %table
    %thead
      %tr
        %th Name
        %th Username
        %th{:colspan => "3"}
    %tbody
      - @assignees.each do |assignee|
        %tr
          %td= assignee.name
          %td= assignee.username
          %td= link_to 'Show', assignee
          %td= link_to 'Edit', edit_assignee_path(assignee)
          %td= link_to 'Destroy', assignee, method: :delete, data: { confirm: 'Are you sure?' }
  %br
  = link_to 'New Assignee', new_assignee_path
