<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @assignee.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @assignee.username %>
</p>

<%= link_to 'Edit', edit_assignee_path(@assignee) %> |
<%= link_to 'Back', assignees_path %>
