%html{lang: :en}
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %meta{charset: 'utf-8'}/
    %meta{content: 'IE=edge', 'http-equiv': 'X-UA-Compatible'}/
    %meta{content: 'GitBan', name: :description}/
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}/
    %meta{content: '#4caf50', name: 'theme-color'}
    %title= yield :title
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = yield :script
    = favicon_link_tag
  %main

    .navbar-fixed
      %nav.blue
        .container
          .nav-wrapper
            %a.brand-logo{href: '/', class: user_signed_in? ? '' : 'center'}
              %i.fa.fa-gitlab
              GitBan
            %ul.right.hide-on-med-and-down
              - if user_signed_in?
                %li{class: cp("/")}
                  %a{href: '/'} Home
                %li{class: cp("/boards")}
                  %a{href: '/boards'} Boards
                %li{class: cp("/columns")}
                  %a{href: '/columns'} Columns
                %li{class: cp("/tasks")}
                  %a{href: '/tasks'} Tasks
                %li
                  %i.fa.fa-user.fa-fw
                  = current_user.name
                %li
                  = link_to('Logout', destroy_user_session_path, :method => :delete)
                - if @no_footer
                  %li.brand-logo
                    %i.right.fa.fa-check-square-o{style: 'color: #1b5e20'}
                    #col-0{style: 'height: 64px; width: 100px;'}
    .container
      .row
        .col.s12
          - if notice
            .card-panel.blue
              %span.white-text= notice
          - elsif alert
            .card-panel.red
              %span.white-text= alert

      - if flash[:error]
        .alert.alert-danger.alert.dismissible
          %button.close{type: :button, 'data-dismiss': :alert}
            &times;
          = flash[:error]
      - elsif flash[:success]
        .alert.alert-success.alert.dismissible
          %button.close{type: :button, 'data-dismiss': :alert}
            &times;
          = flash[:success]
    = yield
  - unless @no_footer
    %footer.page-footer.blue
      .footer-copyright
        .container
          © 2016 muhproductions
          %a.grey-text.text-lighten-4.right{href: 'https://github.com/muhproductions'}
            muhproductions
            %i.fa.fa-heart
            GitHub
