%html{lang: :en}
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %meta{charset: 'utf-8'}/
    %meta{content: 'IE=edge', 'http-equiv': 'X-UA-Compatible'}/
    %meta{content: 'GitBan', name: :description}/
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}/
    %meta{content: '#4caf50', name: 'theme-color'}
    %title= yield :title
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = yield :script
    = favicon_link_tag
  %main
    %nav.blue
      .nav-wrapper
        %a.brand-logo{href: '/'}
          GitBan
        %ul.right.hide-on-med-and-down
          %li{class: cp("/")}
            %a{href: '/'} Home
          %li{class: cp("/boards")}
            %a{href: '/boards'} Boards
          %li{class: cp("/projects")}
            %a{href: '/projects'} Projects
          %li{class: cp("/tasks")}
            %a{href: '/tasks'} Tasks
    .container
      - if flash[:error]
        .alert.alert-danger.alert.dismissible
          %button.close{type: :button, 'data-dismiss': :alert}
            &times;
          = flash[:error]
      - elsif flash[:success]
        .alert.alert-success.alert.dismissible
          %button.close{type: :button, 'data-dismiss': :alert}
            &times;
          = flash[:success]
    = yield
  %footer.page-footer.blue
    .footer-copyright
      .container
        © 2016 GitBan
        %a.grey-text.text-lighten-4.right{href: 'https://github.com/muhproductions/gitban'} GitHub
  
