%html{lang: :en}
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %meta{charset: 'utf-8'}/
    %meta{content: 'IE=edge', 'http-equiv': 'X-UA-Compatible'}/
    %meta{content: 'GitBan', name: :description}/
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}/
    %meta{content: '#4caf50', name: 'theme-color'}
    %title= yield :title
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = yield :script
    = favicon_link_tag
  %main{class: 'blue darken-4 white-text'}
    = render partial: 'shared/profile_setup'
    %ul.dropdown-content#dropdown_boards
      %li
        = link_to 'All boards', '/boards'
      %li.divider
      - @boards.each do |b|
        %li
          = link_to b.name, b
    .navbar-fixed
      %nav.white
        .nav-wrapper.blue-text.text-darken-2{style: "padding-left: 5px;"}
          %a.blue-text.text-darken-2.brand-logo{href: '/', class: user_signed_in? ? '' : 'center'}
            %i.fa.fa-gitlab
            GitBan
          %ul.right.hide-on-med-and-down
            - if user_signed_in?
              - if @show_search
                %li
                  %input#search{name: :search,
                                placeholder: 'Search for anything',
                                type: :text,
                                autocomplete: :off,
                                'data-list' => '.drag'}
              %li{class: cp("/")}
                %a.blue-text.text-darken-2{href: '/'} Home
              %li
                %a.blue-text.text-darken-2.dropdown-button{href: '#', data: {activates: 'dropdown_boards'}, style: 'min-width: 150px;'}
                  Boards
                  %i.fa.fa-caret-down.right
              %li{class: cp("/columns")}
                %a.blue-text.text-darken-2{href: '/columns'} Columns
              %li{class: cp("/tasks")}
                %a.blue-text.text-darken-2{href: '/tasks'} Tasks
              %li
                = link_to(url_for(@current_user), class: 'blue-text text-darken-2') do
                  %i.fa.fa-user.fa-fw
                  = current_user.name
              %li
                = link_to('Logout', destroy_user_session_path, method: :delete, class: 'blue-text text-darken-2')
    %div.blue.darken-4
      - if flash[:error]
        .alert.alert-danger.alert.dismissible
          %button.close{type: :button, 'data-dismiss': :alert}
            &times;
          = flash[:error]
      - elsif flash[:success]
        .alert.alert-success.alert.dismissible
          %button.close{type: :button, 'data-dismiss': :alert}
            &times;
          = flash[:success]
    = yield
  - unless @no_footer
    %footer.page-footer.blue
      .footer-copyright
        .container
          © 2016 muhproductions
          %a.grey-text.text-lighten-4.right{href: 'https://github.com/muhproductions'}
            muhproductions
            %i.fa.fa-heart
            GitHub
- unless !@current_user || @current_user.setup_complete? || current_page?("/users/#{@current_user.id}")
  :javascript
    $('#profile-setup').openModal();
