%html{lang: :en}
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %meta{charset: 'utf-8'}/
    %meta{content: 'IE=edge', 'http-equiv': 'X-UA-Compatible'}/
    %meta{content: 'GitBan', name: :description}/
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}/
    %meta{content: '#4caf50', name: 'theme-color'}
    %title= yield :title
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = yield :script
    = favicon_link_tag
  %main

    %nav.blue
      .container
        .nav-wrapper
          %a.brand-logo{href: '/'}
            %i.fa.fa-gitlab
            GitBan
          %ul.right.hide-on-med-and-down
            %li{class: cp("/")}
              %a{href: '/'} Home
            %li{class: cp("/assignees")}
              %a{href: '/assignees'} Assignees
            %li{class: cp("/boards")}
              %a{href: '/boards'} Boards
            %li{class: cp("/columns")}
              %a{href: '/columns'} Columns
            %li{class: cp("/milestones")}
              %a{href: '/milestones'} Milestones
            %li{class: cp("/projects")}
              %a{href: '/projects'} Projects
            %li{class: cp("/tasks")}
              %a{href: '/tasks'} Tasks
    .container
      - if flash[:error]
        .alert.alert-danger.alert.dismissible
          %button.close{type: :button, 'data-dismiss': :alert}
            &times;
          = flash[:error]
      - elsif flash[:success]
        .alert.alert-success.alert.dismissible
          %button.close{type: :button, 'data-dismiss': :alert}
            &times;
          = flash[:success]
    = yield
  %footer.page-footer.blue
    .container
      .row
        .col.l6.s12
          %h5.white-text GitBan
          %p.grey-text-text-lighten-4
            GitBan is designed to make KanBan as easy as possible with GitLab while handling all tasks via GitLab.
        .col.l4.offset-l2.s12
          %h5.white-text More Stuff
          %ul
            %li
              %a.grey-text.text-lighten-3{href: 'https://github.com/muhproductions/gitban'} GitHub
    .footer-copyright
      .container
        © 2016 muhproductions
        %a.grey-text.text-lighten-4.right{href: 'https://github.com/muhproductions'}
          muhproductions
          %i.fa.fa-heart
          GitHub
  
